.m-row {
    margin-top: 20px;
    width: fit-content;
    margin-bottom: 5px;
  }
  .m-heading {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
  }
  
  .margin-left20 {
    margin-left: 20px;
  }
  
  .common-flex-container {
    display: flex;
    column-gap: 20px;
  }
  
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }
  
  .align-center {
    display: flex;
    justify-content: center;
  }
  
  
  /* Min width */
  
  .mw-40 {
    min-width: 40px;
  }
  
  .mw-70 {
    min-width: 70px;
  }
  
  .mw-80 {
    min-width: 80px;
  }
  
  .mw-100 {
    min-width: 100px;
  }

  .mw-120 {
    min-width: 120px;
  }
  
  .mw-150 {
    min-width: 150px;
  }
  
  .mw-200 {
    min-width: 200px;
  }
  
  .mw-300 {
      min-width: 300px;
  }
  
  .wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .wrapper--dark1 {
    background-color: #3535358a;
    z-index: 50;
  }
  
  .wrapper--dark2 {
    background-color: #39393993;
    z-index: 60;
  }
  
  .display--none {
      display: none;
  }
